# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
backend/venv/
.venv/

# Environment Variables
.env
.env.*

# Python Cache
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# IDE
.idea/

# SQLite
*.db
*.sqlite3

# Jupyter
.ipynb_checkpoints/